# Splitting Data into Train and Test Sets

### Imports

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Reading Dataset

In [6]:
data = pd.read_csv("csvs/df_final.csv")
data

,monthly_rent,max_floor_lvl,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,floor_area_sqm,age_of_bldg,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2000,10.0,1,0,0,0,0,0,92.0,48,...,0,0,0,0,0,0,0,0,0,0
1,1750,11.0,1,1,0,0,0,0,74.0,48,...,0,0,0,0,0,0,0,0,0,0
2,1750,12.0,1,1,0,0,0,0,67.0,47,...,0,0,0,0,0,0,0,0,0,0
3,2230,12.0,1,0,0,1,0,0,117.0,48,...,0,0,0,0,0,0,0,0,0,0
4,2450,12.0,1,0,0,1,0,0,117.0,48,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150691,3000,16.0,1,0,0,0,0,0,110.0,24,...,0,0,0,0,0,0,0,0,0,0
150692,4000,40.0,1,0,0,0,0,0,93.0,8,...,0,0,0,0,0,0,0,0,0,0
150693,5000,12.0,1,0,0,1,0,0,84.0,39,...,0,0,0,0,0,0,0,0,0,0
150694,3200,19.0,1,0,0,1,0,0,93.0,9,...,0,0,0,0,0,0,0,0,0,0
150695,3200,15.0,1,0,0,1,0,0,110.0,26,...,0,0,0,0,0,0,0,0,0,0

### Split 1

Train Set: Years 2021-2024<br>Test Set: Year 2025

In [3]:
data_test = data[data['year_2025'] == 1]
data_test

,monthly_rent,max_floor_lvl,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,floor_area_sqm,age_of_bldg,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
144675,3000,12.0,1,0,0,0,0,0,94.0,40,...,0,0,0,0,0,0,0,0,0,0
144676,3000,19.0,1,0,0,0,0,0,68.0,8,...,0,0,0,0,0,0,0,0,0,0
144677,3000,12.0,1,0,0,1,0,0,68.0,46,...,0,0,0,0,0,0,0,0,0,0
144678,3700,12.0,1,0,0,0,0,0,94.0,41,...,0,0,0,0,0,0,0,0,0,0
144679,3400,18.0,1,1,0,1,0,0,93.0,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150691,3000,16.0,1,0,0,0,0,0,110.0,24,...,0,0,0,0,0,0,0,0,0,0
150692,4000,40.0,1,0,0,0,0,0,93.0,8,...,0,0,0,0,0,0,0,0,0,0
150693,5000,12.0,1,0,0,1,0,0,84.0,39,...,0,0,0,0,0,0,0,0,0,0
150694,3200,19.0,1,0,0,1,0,0,93.0,9,...,0,0,0,0,0,0,0,0,0,0
150695,3200,15.0,1,0,0,1,0,0,110.0,26,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_train = data[data['year_2025'] != 1]
data_train

,monthly_rent,max_floor_lvl,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,floor_area_sqm,age_of_bldg,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2000,10.0,1,0,0,0,0,0,92.0,48,...,0,0,0,0,0,0,0,0,0,0
1,1750,11.0,1,1,0,0,0,0,74.0,48,...,0,0,0,0,0,0,0,0,0,0
2,1750,12.0,1,1,0,0,0,0,67.0,47,...,0,0,0,0,0,0,0,0,0,0
3,2230,12.0,1,0,0,1,0,0,117.0,48,...,0,0,0,0,0,0,0,0,0,0
4,2450,12.0,1,0,0,1,0,0,117.0,48,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144726,3550,30.0,1,0,0,0,0,0,60.0,18,...,0,0,0,0,0,0,0,0,0,1
144727,2700,10.0,1,1,0,0,0,0,67.0,40,...,0,0,0,0,0,0,0,0,0,1
144728,3200,28.0,1,0,0,0,0,0,90.0,20,...,0,0,0,0,0,0,0,0,0,1
144729,4200,8.0,1,1,0,0,0,0,123.0,36,...,0,0,0,0,0,0,0,0,0,1
144730,2700,14.0,1,0,0,0,0,0,68.0,44,...,0,0,0,0,0,0,0,0,0,1

Writing Out

In [5]:
# data_train.to_csv("csvs/df_train.csv", index=False)
# data_test.to_csv("csvs/df_test.csv", index=False)

### Split 2

Randomised split: 80% training, 20% testing

In [7]:
df = pd.read_csv('csvs/df_final.csv')

# train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

Writing Out

In [ ]:
# train_df.to_csv('csvs/df_random_train.csv', index=False)
# test_df.to_csv('csvs/df_random_test.csv', index=False)